---

// IMPORTS ASTRO ATOMS
import Paragraph from "@/atoms/paragraph/center/index.astro"
import PictureInternal from "@/atoms/picture/internal/index.astro"

// GET ASTRO PROPS
const {

    client_designation,
    client_name,
    description,
    source,
    title

} = Astro.props

---
<div class="flex flex-col items-center justify-center gap-4">
    <div class="size-28">
        <PictureInternal
            alternative_text={ client_name }
            source={ source }
        />
    </div>
    <div>
        <h5 class="text-lg font-proxima_nova font-extrabold text-center text-thrive_black">{ client_name }</h5>
        <p class="text-center font-proxima_nova">{ client_designation }</p>
    </div>
    <div class="bg-thrive_yellow p-2">
        <p class="text-lg font-proxima_nova font-extrabold text-thrive_black">{ title }</p>
    </div>
    <Paragraph>{ description }</Paragraph>
</div>
