---

// IMPORTS ASTRO ATOMS
import ButtonCall from "@/atoms/button/call/index.astro"
import ButtonGetProposal from "@/atoms/button/get-proposal/index.astro"
import Link from "@/atoms/link/index.astro"
import Paragraph2xl from "@/atoms/paragraph/white/two-xl/index.astro"

const data = {

    button_one_link: "/contact",
    button_one_text: "GET FREE PROPOSAL",
    button_two_link: "tel:8669084748",
    button_two_text: "CALL 866.908.4748",
    decription: "Contact us to work with a results-driven digital marketing agency"

}

---
<section class="bg-thrive_dark_green space-y-4 py-10">
    <h2 class="text-5xl text-white font-proxima_nova font-light text-center uppercase">READY TO <span class="font-extrabold">GROW YOUR BUSINESS?</span></h2>
    <Paragraph2xl>{ data.decription }</Paragraph2xl>
    <div class="flex justify-center items-center gap-4">
        <Link href={ data.button_one_link } aria_label={ data.button_one_text }>
            <ButtonGetProposal>{ data.button_one_text }</ButtonGetProposal>
        </Link>
        <span class="uppercase text-2xl text-white font-proxima_nova">Or</span>
        <Link href={ data.button_two_link } aria_label={ data.button_two_text }>
            <ButtonCall>{ data.button_two_text }</ButtonCall>
        </Link>
    </div>
</section>
