<button class="h-14 px-6 text-xl flex justify-center items-center bg-thrive_orange hover:bg-thrive_dark_orange border-2 border-white rounded uppercase text-white font-proxima_nova font-extrabold">
    <slot/>
</button>
