---

// IMPORTS ASTRO ATOMS
import Link from "@/atoms/link/index.astro"

// GET ASTRO PROPS
const {

    button_link,
    button_text,
    date,
    description,
    title

} = Astro.props

---
<div class="bg-white p-8">
    <h5 class="text-thrive_dark_green font-bold font-proxima_nova">{ title }</h5>
    <div class="pt-2">
        <span class="text-thrive_black font-proxima_nova uppercase">{ date }</span>
        <p class="text-thrive_black font-proxima_nova">{ description }</p>
        <Link href={ button_link } aria_label={ button_text }>
            <button class="text-thrive_dark_green font-proxima_nova font-extrabold ">{ button_text }</button>
        </Link>
    </div>
</div>
