<button class="flex justify-center items-center h-16 px-6 rounded-full bg-thrive_orange hover:bg-white tracking-wide text-xl text-white hover:text-thrive_orange font-proxima_nova font-extrabold uppercase border-2 border-thrive_orange">
    <slot/>
</button>
