---

// IMPORTS ASTRO ATOMS
import ButtonOrangeLarge from "@/atoms/button/orange/large/rounded-full/index.astro"
import Link from "@/atoms/link/index.astro"

const data = {

    title: "Results Driven",
    sub_title: "DIGITAL MARKETING AGENCY",
    button_text: "GET MY FREE PROPOSAL",
    button_link: "/contact",
    cover: "/hardcoded/hero-bg.jpg"

}

---
<section class="flex flex-col justify-center items-center gap-6 py-10 bg-cover bg-no-repeat overflow-hidden" style=`background-image: url(${ data.cover + "?quality=80" })`>
    <h1 class="uppercase text-7xl font-proxima_nova font-extrabold text-center">Results <span class="text-thrive_green">Driven</span> </h1>
    <h2 class="uppercase text-3xl font-proxima_nova text-center">{ data.sub_title }</h2>
    <Link href={ data.button_link } aria_label={ data.button_text }>
        <ButtonOrangeLarge>{ data.button_text } >></ButtonOrangeLarge>
    </Link>
</section>
