---

// IMPORTS ASTRO LAYOUTS
import Container from "@/layouts/container/index.astro"

// IMPORTS JSX COMPONENTS
import ReadMore from "@/components/common/read-more/index.jsx"

---
<section>
    <div class="border-b border-thrive_light_gray py-10">
        <Container>
            <h2 class="text-5xl text-thrive_black font-proxima_nova font-light text-center">Why Choose Thrive For Your <span class="font-extrabold">Digital Marketing Agency?</span></h2>
        </Container>
    </div>
</section>
